body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    /* can change font later placeholder */
  }
  
  code {
    font-family: 'Courier New', monospace;
    /* can change font later placeholder */
  }